<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx">

	<!-- ================配置entity bean================= -->
	


	<!-- ================配置dao bean================= -->
	<bean  id="UsersDao"  class="cn.zowzy.dao.UsersDao">
		<property name="hibernateTemplate"  ref="hibernateTemplate"></property>
	</bean>
	<bean  id="CollectDao"  class="cn.zowzy.dao.CollectDao">
		<property name="hibernateTemplate"  ref="hibernateTemplate"></property>
	</bean>
	<bean id="RoomDao"  class="cn.zowzy.dao.RoomDao">
		<property name="hibernateTemplate"  ref="hibernateTemplate"></property>
	</bean>
	<bean id="OrdersDao"  class="cn.zowzy.dao.OrdersDao">
		<property name="hibernateTemplate"  ref="hibernateTemplate"></property>
	</bean>
	
	
	
	<!-- ================配置action bean================= -->
	<bean  id="LoginAndRegisterAction"  class="cn.zowzy.action.LoginAndRegisterAction" scope="prototype">
		<property name="usersService"  ref="UsersService"></property>
	</bean>
	<bean id="ChangePasswordAction"  class="cn.zowzy.action.ChangePasswordAction" scope="prototype">
		<property name="usersService" ref="UsersService"></property>
	</bean>
	<bean  id="OrdersAction"  class="cn.zowzy.action.OrdersAction" scope="prototype">
		<property name="OrdersService" ref="OrdersService"></property>
	</bean>
	
	
	
	
	<!-- ================配置service bean================= -->
	<bean  id="UsersService"  class="cn.zowzy.service.UsersService">
		<property name="usersDao"  ref="UsersDao"></property>
	</bean>
	<bean  id="CollectService"  class="cn.zowzy.service.CollectService">
		<property name="collectDao"  ref="CollectDao"></property>
	</bean>

	<bean  id="RoomService"  class="cn.zowzy.service.RoomService">
		<property name="roomDao"  ref="RoomDao"></property>
	</bean>
	
	
	
	<!-- ================配置HibernateTemplate bean================= -->
	<bean id="hibernateTemplate"  class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory"  ref="sessionFactory"></property>
	</bean>

</beans>