@charset "utf-8";
/* CSS Document */
.rentalLv1{
	margin-top:25px;
	font-size:30px;
	font-family:"等线", "方正等线", "方正兰亭超细黑简体", "微软雅黑"	;
	font-weight:bold}
.rentalLv2{
	margin-bottom:25px;
	font-size:24px;
	font-family:"等线", "方正等线", "方正兰亭超细黑简体", "微软雅黑"	;
	font-weight:normal}
.rentalLv3{
	color:rgba(162,162,162,1.00);
	font-weight:bold;}
.rentalLv4{}
.allposition{
	margin-top:10%}
.nonmargin{
	padding:2px}
.boxstyle{
	border:solid rgba(155,155,155,1.00);
	border-width:1px;
	border-radius:3px;
	height:30px;
	margin:0px;
	width:100%}
.boxgroupstyle{
	padding:1px;
	width:100%}
.goonbutton{
	width:80px;
	margin-top:8px;
	font-size:18px;
	font-weight:bold;
	font-family:"等线", "方正等线", "方正兰亭超细黑简体", "微软雅黑"}