@charset "utf-8";
/* CSS Document */
.blank
{
	height:70px
}
.subblank
{
	height:30px;
}
.fontstyle
{
	position:relative;
	text-align:center; 
	color:rgba(248,142,139,1);	
	font-family:"Arial Black", Gadget, sans-serif;
	text-emphasis:dot;
}
.labelfont
{
	color:rgba(153,153,153,1);
	position:relative;
	top:10px;
}
.forgetpass
{
	color:rgba(153,153,153,1);
	position:relative;
	top:10px;
	float:right;
}
.divstyle
{
	width:80%;
	margin:20% auto;
	border:solid 1px rgba(204,204,204,1);
	background-color:rgb(255,255,255);
	border-radius:5px;
}
.inputdiv
{
	width:77%;
	border-radius:5px;
	margin:0 auto;
}
.inputsize
{
	height:40px;
	width:100%;
	border-radius:5px;
	margin:20px 0px 0px 0px;
	outline:none;
}
.loginbutton
{
	height:40px;
	width:100%;
	border-radius:5px;
	background-color:rgba(248,142,139,1);
	color:rgba(255,255,255,1);
	margin:20px 0px 0px 0px;
	outline:none;
}
.spanstyle
{
	color:rgba(255,0,0,1);
	position:relative;
	top:8px;
	text-align:right;
}





