@charset "utf-8";
/* CSS Document */
#register
{
	  font-size:20px;
	  font-family:"Arial Black", Gadget, sans-serif;
	  text-emphasis:dot;
}
body
{
	  background-size:100% 100%;
}
.inputsize
{
	height:40px;
	width:auto;
	outline:none;
}
.input
{
	margin:0px 0px 0px 0px;/*上右下左*/
	border-radius:5px;
	outline:none;
}
.loginbutton
{
	background-color:rgba(248,142,139,1);
	color:rgba(255,255,255,1);
	height:40px;
	width:287px;
	margin:auto;
	border:none;
	outline:none;
}
.fontstyle
{
	position:relative;
	text-align:center;
	color:rgba(248,142,139,1);	
}
.spanstyle
{
	color:rgba(255,0,0,1);
	position:relative;
	top:7px;
	right:75px;
	text-align:right;
}