@charset "utf-8";
/* CSS Document */
.circlebutton{
	width:30px;
	height:30px;
	border:#3CF 1px solid;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	color:#3CF;
	background-color:#FFF;
	}
.content{
		margin-top:50px;
	    text-align:center;
		font-size:20px;
		font-family:"MS Serif", "New York", serif;
		color:rgb(0,0,0);
	}
.row{
	margin:20px 20px 20px 20px;
	}
label{
	text-align:center;
	font-size:20px;
	margin-left:10px;
	margin-right:10px;
	font-family:"MS Serif", "New York", serif;
	}
#panel,span.flip,span.flip2
{
text-align:left;
}
#panel,#panel2,#panel3,#panel4,#panel5
{
display:none;
}
.check{
	border:1px solid #999;
	background:#FFF;
	color:#FFF;
	background-color:#F00;
	width:15px;
	height:15px;
	}
	span{
		color:#3CF;
		}
		
.button
{
	height:40px;
	width:200px;
	margin:0px 0px 20px 20px;
	border-radius:5px;
	background-color:rgba(248,142,139,1);
	color:rgba(255,255,255,1);
	outline:none;
}


