@charset "utf-8";
/* CSS Document */
.blank
{
	height:20px;
}
.rowdiv
{
	background-color:rgb(255,255,255);
}
.icondiv
{
	border-right:solid 1px #CCCCCC;
}
.img
{
	width:60px;
	height:60px;	
}
.navdiv
{
	border-left:solid 1px #CCCCCC;
}
.iframediv
{
	border-top:solid 1px #CCCCCC;
}
.textstyle
{
	text-align:center;
}
.li 
{
	list-style:none;
	float:right;
	margin-right:50px;
}
.a
{
	display:block;  
    height:60px; 
    line-height:60px; /* 设置行高,可以让单行文本垂直居中 */
    text-align:center; 
    background:rgba(255,255,255,1); 
    color:rgba(153,153,153,1);
	text-decoration:none; /* 去掉下划线 */
}
.a:hover/*鼠标在上面悬停时样式*/
{
	background:rgba(248,142,139,1); 
    color:#fff;
	text-decoration:none; 
}
.inputstyle
{
	height:60px;
	width:500px;
	border-style:none;
	outline: none;/*去掉点击时的蓝色边框*/
}


.imgheight
{
	height:100%;
	width:100%;
}

.divstyle
{
	width:100%;
	height:55%;
	margin:0 auto;
	border-style:solid;
	border-width:1px;
	border-color:rgb(204,204,204);
	
}
.SSHOMEdiv
{
	border:solid 1px rgb(98,98,98);
	background-color:rgb(98,98,98);
		
}
.fontstyle 
{
	text-align:center; 	
	color:rgb(255,255,255);
}
.secondwholediv
{
	width:100%;
	margin:0 auto;
	
}
.seconddiv
{
	width:100%;
	height:40px;
	border:solid 1px rgb(204,204,204);
}
.buttonstyle
{
	width:100%;
	border:none;
	background-color:rgb(255,90,95);
	color:rgb(255,255,255);
	height:40px;
	outline:none;
}
.telbutton
{
	width:100px;
	height:40px;
	border:none;
	margin-top:15px;
	background-color:rgb(255,90,95);
	text-align:center;
	color:rgb(255,255,255);
	outline:none;
}
.wholerow
{
	border:solid 1px #CCCCCC;
	background-color:rgb(255,255,255);
	position:fixed;
	width:100%;
	top:0px;
	z-index:50;
}
.singlenav
{
	display:block;
	width:100px;
	line-height:60px;
	color:rgb(33,125,106);
    text-decoration:none;
	text-align:left;
}
.singlenav:hover
{
	text-decoration:none; 
}
.navbutton
{
	width:100px;
	height:60px;
	border:none;
	background-color:rgb(255,255,255);
}
.sumfirst
{
	border-bottom:solid 1px #CCCCCC;
}
.sumright
{
	border-bottom:solid 1px #CCCCCC;
}
.coldiv
{
	position:fixed;
	right:0px;
    bottom:0px;
}
.imgsize
{
	height:90px;
	width:90px;
}
#dropdown-menu{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:rgba(153,153,153,1);
	}
