@charset "utf-8";
/* CSS Document */
.imgheight
{
	width:100%;
	height:230px;
}
.blank
{
	height:20px;
}
.subblank
{
	height:30px;
}
.divblank
{
	height:80px;
}
.background
{
	background-color:rgb(245,245,245);
}
.divcolor
{
	background-color:rgb(255,255,255);
}

