@charset "utf-8";
/* CSS Document */
.blank
{
	height:20px;
}
.rowdiv
{
	background-color:rgb(255,255,255);
	border-bottom:solid 1px #CCCCCC;
}
.icondiv
{
	border-right:solid 1px #CCCCCC;
}
img
{
	width:70px;
	height:70px;	
}
.navdiv
{
	border-left:solid 1px #CCCCCC;
}
.iframediv
{
	border-top:solid 1px #CCCCCC;
	background-color:rgb(245,245,245);
}
.textstyle
{
	text-align:center;
}
.li 
{
	list-style:none;
	float:right;
}
.a
{
	display:block; 
    width:120px; 
    height:70px; 
    line-height:70px; /* 设置行高,可以让单行文本垂直居中 */
    text-align:center; 
    background:rgba(245,245,245); 
    color:rgb(153,153,153);
	text-decoration:none; /* 去掉下划线 */
}
.a:hover/*鼠标在上面悬停时样式*/
{
	background:rgba(248,142,139,1); 
    color:#fff;
	text-decoration:none; 
}
.inputstyle
{
	height:70px;
	width:500px;
	border-style:none;
	outline: none;
}

/***********************************/

.divstyle
{
	width:100%;
	margin:310px 0px 10px 0px;
	border-style:solid;
	border-width:1px;
	border-color:rgb(0,166,153);
	border-radius:5px;
}
.SSHOMEdiv
{
	border:solid 1px rgb(0,166,153);
	background-color:rgb(0,166,153);	
}
.fontstyle 
{
	text-align:center; 	
	color:rgb(255,255,255);
}
.tablediv
{
	width:100%;
}
.tablestyle
{
	width:100%;
	font-family: verdana,arial,sans-serif;  
    font-size:15px;  
    color:#666;  	
}
th
{
	height:60px;
	width:14%;
    padding:8px;
    border:solid 1px #999999;
}
td
{
	height:60px;
	width:14%;
    padding:8px;
    border:solid 1px #999999;
}
.inputsize
{
	height:40px;
	width:100%;
	border-radius:5px;
	margin:0px 0px 10px 0px;
}
.paybtn
{
	height:40px;
	width:150px;
	border-radius:5px;
	background-color:rgba(255,255,255,1);
	color:rgba(0,166,153,1);
	margin:20px 0px 100px 0px;
	outline:none;
	border-style:hidden;
	border:solid 1px rgb(0,166,153);
	float:right;
}
.cancelbtn
{
	height:40px;
	width:150px;
	border-radius:5px;
	background-color:rgba(255,255,255,1);
	color:rgba(0,166,153,1);
	margin:20px 10px 100px 0px;
	float:right;
	outline:none;
	border-style:hidden;
	border:solid 1px rgb(0,166,153);
}
.infor
{
	border:solid 1px #CCCCCC;
	color:rgb(51,51,51);
	border-radius:10px;
}
.inputtable
{
	height:35px;
	width:150px;
	border-style:none;
	border-radius:5px;
	background-color:rgb(0,166,153);
	font-family:verdana,arial,sans-serif;
	font-size:16px;
	font-weight:bolder;
	text-align:center;
	margin-top:50px;
	color:rgb(255,255,255);
}

.imgheight
{
	width:100%;
	height:230px;
}
.subblank
{
	height:30px;
}
.divblank
{
	height:80px;
}
.divcolor
{
	background-color:rgb(255,255,255);
}
.imgborder
{
	border:solid 1px rgb(204,204,204);
}





