@charset "utf-8";
/* CSS Document */
.blank
{
	height:20px;
}
.divstyle
{
	width:100%;
	margin:30% 0px 10% 0px;
	border-style:solid;
	border-width:1px;
	border-color:rgba(204,204,204,1);
}
.SSHOMEdiv
{
	border:solid 1px rgba(204,204,204,1);
	background-color:rgba(204,204,204,1);
	opacity:0.5;	
}
.inputdiv
{
	width:80%;
	margin:0 auto;
}
.inputsize
{
	height:40px;
	width:100%;
	border-radius:5px;
	margin:25px 0px 0px 0px;
}
.paybutton
{
	height:40px;
	width:100%;
	border-radius:5px;
	background-color:rgba(255,255,255,1);
	color:rgba(0,166,153,1);
	margin:35px 0px 0px 0px;
	outline:none;
	border-style:hidden;
	border:solid 1px rgb(0,166,153);
}
.backbutton
{
	height:40px;
	width:100%;
	border-radius:5px;
	background-color:rgba(255,255,255,1);
	color:rgba(0,166,153,1);
	margin:20px 0px 30px 0px;
	outline:none;
	border-style:hidden;
	border:solid 1px rgb(0,166,153);
}
.fontstyle 
{
	text-align:center; 	
	color:rgba(51,51,51,1);
}
.spanstyle
{
	color:rgba(255,0,0,1);
	position:relative;
	top:8px;
	text-align:right;
}

